{% extends 'index.html' %}

{% block title %} Cuenta

{% endblock %}

{% block body %}

<div class="container-fluid fondo py-5" style="min-height: 100vh;">
    <div class="row justify-content-center  m-4 p-4 rounded-3">
        <form method="post"
            class="formulario d-flex flex-column bg-light border border-warning shadow-lg rounded p-3 m-5"
            style="width:500px ;">

            <h1 class=" d-flex justify-content-center text-primary">Ingresar</h1>

            <p>Ingresar a tu cuenta</p>



            <hr class="">

            <div class="mb-3">
                <label for="" class="form-label">Correo</label>

                <input type="email" name="email" id="email" required class="form-control"
                    placeholder="nombre@email.com">
            </div>


            <div class="mb-3">
                <label for="" class=" form-label">Contraseña</label>
                <input type="password" name="clave" id="clave" class="form-control">
            </div>


            <input type="submit" value="Enviar" class="btn btn-success">

            <br>

            <a href="/sing-up">¿No tienes cuenta? Crea una aquí</a>
        </form>

    </div>


</div>

{% endblock %}